.color-selector {
  display: flex;
  flex-direction: row; 
  padding: {
   top: 0.25rem;
   bottom: 0.25rem;
 }
}

.color-selector__item {
  --bg: #FFFFFF;
  --bg-clip: border-box;
  --width: 5rem;
  display: flex;
  flex-direction: column; 
  background-color: var(--bg);
  background-clip: var(--bg-clip); 
  width: var(--width);
  height: 8rem;
  box-shadow: var(--box-shadow);
  justify-content: center;
  align-items: center;
  font:{
    size: 0.65rem;
  }
}

.color-circle {
  margin: {
   left: 1rem;
   right: 1rem;
 }
}

.hsv-slider {
  display: flex;
  flex-direction: row; 
}

.hsv-slider__text {
  width: 2rem;
}

.hsv-slider__slider {
  width: 13rem;
}

.hsv-slider__input-number {
  width: 3rem;
  margin: {
    left: 0.25rem;

  }
}

.color-brightness {
  margin: {
    top: 0.1rem;
    bottom: 0.1rem;
  }
}

.color-box {
  --colorbox-background: #FFFFFF;
  --colorbox-bordercolor: #000000;
  background-color: var(--colorbox-background);
  border: {
    style: solid;
    color: var(--colorbox-borderColor);
    width: 0.3rem;
  }
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
